<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha paymethods" data-hook>
    <a href=https://www.maksuturva.fi/Certificate.pmt?seller_id=MMJMXRTG&request_locale=fi' target='_blank' title='Maksuturvan verkkomaksu' ><%= image_tag("/maksuturva_baner.png",:class => "desaturate", :alt => "paypal", :style=> "padding:0px") %></a>
  </div>
  <div id="footer-right" class="columns omega" data-hook>
    <div class="paymethods">
      <%= image_tag("/cards/paypal-logo.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/visa.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/master.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/american-express.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/diners.png",:class => "desaturate", :alt => "paypal") %>
    </div>
  </div>
</footer>
