<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha" data-hook>
    <p>Developed by <a href='http://neuhaus.fi'>Dmitriy Usmanov</a></p>
  </div>
  <div id="footer-right" class="columns omega" data-hook>
    <div class="paymethods">
      <%= image_tag("/cards/paypal-logo.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/visa.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/master.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/american-express.png",:class => "desaturate", :alt => "paypal") %>
      <%= image_tag("/cards/diners.png",:class => "desaturate", :alt => "paypal") %>
    </div>
  </div>
</footer>
